/* Your styles go here... */
.SidePanel {
  width: 30%;
  height: inherit;
  background: rgb(83, 125, 159);
  background: radial-gradient(
    circle,
    rgba(83, 125, 159, 1) 0%,
    rgba(57, 86, 109, 1) 49%,
    rgba(37, 56, 71, 1) 100%
  );

  padding: 20px 5px;
  box-sizing: border-box;
}

ul {
  color: #d0dbe5;
  font-size: 12px;
  padding-inline-start: 8px;
  margin: 6px;
}
li {
  margin: 3px;
}

.SidePanelSection {
  margin: 15px 15px;
}

.upload-div {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(222, 222, 222, 0.5);
  color: white;
  font-weight: 800;
  border-radius: 100%;
  cursor: pointer;
}
