.App {
  height: 100vh;
}

.Resume {
  display: flex;
  width: 210mm;
  min-height: 297mm;
  margin: auto auto;
}

@media print {
  .App {
    -webkit-print-color-adjust: exact;
  }
  #download {
    display: none;
  }
}
